@import '../../styles/main-styles.scss';

.generic-filters {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: $spacing-2;
	margin-top: $spacing-4;
	font-size: $font-xs;

	&__inputs {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		gap: $spacing-2;
		container-type: inline-size;
	}

	&__input,
	&__selector {
		@include generic-input;

		min-width: 200px;
		flex: 1 1 200px;

		input {
			font-size: $font-xs;
		}
	}

	&__checkbox {
		margin: 0 !important;

		> span {
			font-size: $font-xs;
		}

		> svg {
			> path {
				color: $color-primary;
			}
		}
	}
}

@container (min-width: 800px) {
	.generic-filters {
		&__input,
		&__selector {
			flex: 0;
			min-width: 300px;
		}
	}
}
