@import "../../styles/main-styles.scss";

.generic-filters {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $spacing-3;

    &__input,
    &__selector {
        @include generic-input;
    }
}
