@import "../../styles/main-styles.scss";

.generic-filters {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $spacing-4;
    margin-top: $spacing-6;

    &__input,
    &__selector {
        @include generic-input;
    }

    &__checkbox {
        margin: 0 !important;

        > svg {
            > path {
                color: $color-primary;
            }
        }
    }
}
