@import '../../styles/main-styles.scss';

.workout-card {
	background-color: $color-background-dark-5;
	box-shadow: $elevation-4;
	padding: $spacing-3;
	border-radius: $border-radius-2;
	display: flex;
	flex-direction: column;
	gap: $spacing-2;

	h3,
	h2 {
		margin: 0;
		font-family: $font-secondary;
		font-weight: $font-weight-semi-bold;
	}

	h3 {
		font-size: $font-s;
		color: $color-primary-darker-1;
	}

	span {
		color: $color-text-white-base;
		font-size: $font-s;
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding-top: $spacing-2;
		position: relative;

		> h2 {
			color: $color-primary-brighter-1;
			font-size: $font-m;
		}
	}

	&__content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		> div {
			text-align: center;

			> span {
				font-size: $font-l;
			}
		}
	}

	&__actions {
		display: flex;
		flex-direction: row;
		gap: $spacing-3;

		> div {
			cursor: pointer;
		}

		svg {
			color: $color-secondary;

			&:hover {
				color: $color-secondary-hover;
			}
		}
	}
}
