@import '../../styles/main-styles.scss';

.workouts {
	height: 100%;
	display: flex;
	flex-direction: column;
	container-type: inline-size;

	&__list {
		margin-top: $spacing-6;
		display: flex;
		flex-direction: column;
		gap: $spacing-3;
		position: relative;
	}
}

@container (min-width: 500px) {
	.workouts {
		&__list {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		}
	}
}
