@import '../../styles/main-styles.scss';

.workout-table {
	display: flex;

	> div {
		background-color: $color-background-dark-5;
	}

	tr {
		width: 100%;
		display: flex;
	}

	td,
	th {
		padding-left: $spacing-1;
		padding-right: $spacing-1;
		color: $color-text-white-base;
		flex: 0.65;
		overflow-x: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	td:first-of-type,
	th:first-of-type {
		flex: 2;
	}

	td:last-of-type,
	th:last-of-type {
		flex: 0.3;
		display: flex;
		align-items: center;

		> svg {
			font-size: 16px;
		}
	}

	.MuiTable-root {
		position: relative;
	}

	.no-data-text {
		display: block;
		margin: $spacing-2 0 0;
	}
}
