@import '../../styles/main-styles.scss';

$maxExerciseListHeight: 400px;
$minExerciseListHeight: 50px;

.workout-modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 100%;
	background-color: $color-background-dark-3;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	z-index: 5;
	transition: left 0.2s ease-in-out;
	container-type: inline-size;

	&--open {
		left: 0;
	}

	&__header {
		padding: $spacing-3 $spacing-5;
		background-color: $color-background-dark-4;
		display: flex;
		gap: $spacing-5;

		> div {
			height: 21px;

			> svg {
				cursor: pointer;
			}
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		gap: $spacing-4;
		padding: $spacing-4 $spacing-5;
		flex-grow: 1;
		min-height: 0;
	}

	&__bottom {
		align-self: flex-end;
		margin-top: auto;
		padding: 0 $spacing-5 $spacing-4;

		> button {
			text-transform: none;
			background-color: $color-primary !important;
			border-radius: $border-radius-3;

			&:hover {
				background-color: $color-primary-darker-1 !important;
			}
		}
	}

	&__input {
		@include generic-input;
		.MuiInputBase-root {
			background-color: $color-background-dark-4;
		}

		label {
			color: $color-text-white-darker-2;
		}
	}

	&__favourites {
		width: fit-content;
		height: fit-content;

		span:first-of-type {
			padding-top: $spacing-1;
			padding-bottom: $spacing-1;
		}
	}

	&__metadata {
		div {
			color: $color-text-white-base;
		}
	}

	&__exercises {
		grid-column: span 2;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		overflow-y: hidden;
		overflow-x: visible;
	}

	&__exercises-header {
		display: flex;
		flex-direction: column;
		gap: $spacing-1;

		.MuiFormControlLabel-root {
			margin-left: -8px;
		}

		> span {
			font-weight: $font-weight-semi-bold;
		}

		.MuiSwitch-switchBase {
			color: $color-background-light-2;

			&.Mui-checked {
				color: $color-primary;

				& + .MuiSwitch-track {
					opacity: 1;
					background-color: $color-primary-darker-2;
				}

				& + .MuiSwitch-thumb {
					color: $color-primary;
				}
			}
		}

		.MuiSwitch-track {
			background-color: $color-background-dark-6;
		}
	}

	&__exercises-list {
		min-height: $minExerciseListHeight;
		max-height: $maxExerciseListHeight;
		padding: 0 $spacing-2;
		border: 2px solid $color-background-dark-1;
		display: flex;
		flex-direction: column;
		background-color: $color-background-dark-2;
		border-radius: $border-radius-2;
		flex-grow: 1;
		overflow-y: auto;
	}
}

@media (min-width: 900px) {
	.workout-modal {
		&--open {
			left: $side-navbar-size;
			width: calc(100% - $side-navbar-size);
		}

		&__bottom,
		&__body {
			padding-left: 20%;
			padding-right: 20%;
		}

		&__body {
			padding-top: 5%;
		}
	}
}

@media (min-width: 768px) {
	.workout-modal {
		&__body {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: min-content minmax($minExerciseListHeight, $maxExerciseListHeight) min-content;
			gap: $spacing-6;
		}
	}
}

@container (min-width: 420px) {
	.workout-modal {
		&__exercises-header {
			> div {
				display: flex;
				gap: $spacing-3;
				margin-bottom: $spacing-2;
			}
		}
	}
}
