@mixin generic-input {
	.MuiInputBase-root {
		background-color: $color-background-dark-5;
		border-radius: $border-radius-3;
	}

	.Mui-error {
		color: $color-system-feedback-error;
		background-color: transparent;
	}

	&:hover {
		fieldset {
			border-color: $color-primary-hover !important;
		}
	}

	input:focus + fieldset {
		border: 2px solid $color-primary-hover !important;
	}

	input {
		font-size: $font-s;
		color: $color-text-white-base;
	}

	label {
		color: $color-text-black-brighter-2;
	}

	fieldset {
		border: 1px solid $color-background-dark-1 !important;
		transition: all 0.2s;

		span {
			color: $color-primary-darker-2;
		}
	}

	svg {
		color: $color-text-black-brighter-2;
	}

	p {
		letter-spacing: normal;
		line-height: normal;
	}
}

@mixin register-input {
	border-radius: $border-radius-3;
	background-color: transparent;

	.Mui-focused {
		color: $color-primary-brighter-2;
	}

	.Mui-error {
		color: $color-system-feedback-error-brighter;
	}

	&:hover {
		fieldset {
			border-color: $color-primary-hover !important;
		}
	}

	input:focus + fieldset {
		border: 2px solid $color-primary-hover !important;
	}

	input {
		font-size: $font-s;
		color: $color-text-white-base;
	}

	label {
		color: $color-text-white-darker-1;
	}

	fieldset {
		border: 1px solid $color-background-light-5 !important;
		transition: all 0.2s;

		span {
			color: $color-primary-darker-1;
		}
	}

	svg {
		color: $color-text-white-darker-2;
	}

	p {
		letter-spacing: normal;
		line-height: normal;
	}
}

@mixin auth-form {
	display: flex;
	flex-direction: column;
	gap: $spacing-2;
	margin: auto 0 $spacing-3;
	width: 70%;
	max-width: 400px;
}

@mixin auth-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
