@mixin generic-input {
    border-radius: $border-radius-2;
    background-color: $color-background-dark-5;

    &:hover {
        fieldset {
            border-color: $color-primary-hover !important;
        }
    }

    input:focus + fieldset {
        border: 2px solid $color-primary-hover !important;
    }

    input {
        font-size: $font-s;
        color: $color-text-white-base;
    }

    label {
        color: $color-text-black-brighter-2;
    }

    fieldset {
        border: 1px solid $color-background-dark-1 !important;
        transition: all 0.2s;

        span {
            color: $color-primary-darker-2;
        }
    }
}
